* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Main-Container {
    position: relative;
}

#Cloud-Container {
    background-image: url("sources/HG.png");
    filter: sepia(30%) hue-rotate(160deg) brightness(80%);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: relative;
    max-height: 100vh;
}

#mountain-container {
    background-image: url("sources/MG.png");
    filter: sepia(100%) hue-rotate(180deg);
    width: 100vw;
    height: 100vh;
    top: 20%;
    background-size: cover;
    object-fit: 60%;
    max-height: 100vh;
    min-width: 100vw;
    position: absolute;
}


#container {
    background-image: url("sources/VG.png");
    filter: sepia(100%) hue-rotate(90deg);
    width: 100vw;
    height: 100vh;
    top: 38%;
    background-size: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    min-width: 100vw;
    position: absolute;
}

h1 {
    position: absolute;
    max-width: 400px;
    font-size: 2rem;
    text-align: center;
    top: 0%;
    left: 35%;
    right: 35%;
    color: white;

}